In [3]:
import pandas as pd
df = pd.read_csv("/content/supermarket_sales -.csv")
print(df)
print(df.columns)

      Invoice ID Branch       City Customer type  Gender  \
0    750-67-8428      A     Yangon        Member  Female
1    226-31-3081      C  Naypyitaw        Normal  Female
2    631-41-3108      A     Yangon        Normal    Male
3    123-19-1176      A     Yangon        Member    Male
4    373-73-7910      A     Yangon        Normal    Male
..           ...    ...        ...           ...     ...
995  233-67-5758      C  Naypyitaw        Normal    Male
996  303-96-2227      B   Mandalay        Normal  Female
997  727-02-1313      A     Yangon        Member    Male
998  347-56-2442      A     Yangon        Normal    Male
999  849-09-3807      A     Yangon        Member  Female

               Product line  Unit price  Quantity   Tax 5%      Total  \
0         Health and beauty       74.69         7  26.1415   548.9715
1    Electronic accessories       15.28         5   3.8200    80.2200
2        Home and lifestyle       46.33         7  16.2155   340.5255
3         Health and beauty       58.22         8  23.2880   489.0480
4         Sports and travel       86.31         7  30.2085   634.3785
..                      ...         ...       ...      ...        ...
995       Health and beauty       40.35         1   2.0175    42.3675
996      Home and lifestyle       97.38        10  48.6900  1022.4900
997      Food and beverages       31.84         1   1.5920    33.4320
998      Home and lifestyle       65.82         1   3.2910    69.1110
999     Fashion accessories       88.34         7  30.9190   649.2990

          Date   Time      Payment    cogs  gross margin percentage  \
0     1/5/2019  13:08      Ewallet  522.83                 4.761905
1     3/8/2019  10:29         Cash   76.40                 4.761905
2     3/3/2019  13:23  Credit card  324.31                 4.761905
3    1/27/2019  20:33      Ewallet  465.76                 4.761905
4     2/8/2019  10:37      Ewallet  604.17                 4.761905
..         ...    ...          ...     ...                      ...
995  1/29/2019  13:46      Ewallet   40.35                 4.761905
996   3/2/2019  17:16      Ewallet  973.80                 4.761905
997   2/9/2019  13:22         Cash   31.84                 4.761905
998  2/22/2019  15:33         Cash   65.82                 4.761905
999  2/18/2019  13:28         Cash  618.38                 4.761905

     gross income  Rating
0         26.1415     9.1
1          3.8200     9.6
2         16.2155     7.4
3         23.2880     8.4
4         30.2085     5.3
..            ...     ...
995        2.0175     6.2
996       48.6900     4.4
997        1.5920     7.7
998        3.2910     4.1
999       30.9190     6.6

[1000 rows x 17 columns]
Index(['Invoice ID', 'Branch', 'City', 'Customer type', 'Gender',
       'Product line', 'Unit price', 'Quantity', 'Tax 5%', 'Total', 'Date',
       'Time', 'Payment', 'cogs', 'gross margin percentage', 'gross income',
       'Rating'],
      dtype='object')

In [7]:
A = df[df['Customer type'] == 'Member']
B = df[df['Payment'] == 'Credit Card']

P_A = len(A) / len(df)
P_B = len(B) / len(df)
P_A_intersection_B = len(df[(df['Customer type'] == 'Member') & (df['Payment'] == 'Credit Card')]) / len(df)  # P(A ∩ B) # Changed 'Customer Type' to 'Customer type' based on the hypothesis
P_A_union_B = P_A + P_B - P_A_intersection_B

print(f"P(A) = {P_A:.4f}")
print(f"P(B) = {P_B:.4f}")
print(f"P(A ∪ B) = {P_A_union_B:.4f}")
print(f"P(A ∩ B) = {P_A_intersection_B:.4f}")
print(f"P(A | B) = {P_A_given_B:.4f}")

P(A) = 0.5010
P(B) = 0.0000
P(A ∪ B) = 0.5010
P(A ∩ B) = 0.0000
P(A | B) = nan

In [8]:
P_health_beauty = len(df[df['Product line'] == 'Health & Beauty']) / len(df)

print(f"P(Health & Beauty) = {P_health_beauty:.4f}")

P(Health & Beauty) = 0.0000

In [10]:

P_more_than_5_given_ewallet = len(df[(df['Payment'] == 'Ewallet') & (df['Quantity'] > 5)]) / len(df[df['Payment'] == 'Ewallet'])
P_more_than_5_given_ewallet = len(df[(df['Payment'] == 'Ewallet') & (df['Quantity'] > 5)]) / len(df[df['Payment'] == 'Ewallet'])

print(f"P(Quantity > 5 | Ewallet) = {P_more_than_5_given_ewallet:.4f}")

P(Quantity > 5 | Ewallet) = 0.4870

In [11]:
P_cash_yangon = len(df[(df['City'] == 'Yangon') & (df['Payment'] == 'Cash')]) / len(df[df['City'] == 'Yangon'])
print(f"P(Cash | Yangon) = {P_cash_yangon:.4f}")

P(Cash | Yangon) = 0.3235

In [13]:
P_member_rating_above_8 = len(df[(df['Customer type'] == 'Member') & (df['Rating'] > 8)]) / len(df)
print(f"P(Member and Rating > 8) = {P_member_rating_above_8:.4f}")

P(Member and Rating > 8) = 0.1570

In [16]:
import math
num_product_lines = len(df['Product line'].unique())
factorial_product_lines = factorial(num_product_lines)
print(f"Factorial of unique product lines: {factorial_product_lines}")

num_branches = len(df['Branch'].unique())
permutations_branches = permutation(num_branches, 2)
print(f"Permutations of selecting 2 branches: {permutations_branches}")

num_customers = len(df['Invoice ID'].unique())
combinations_customers = combination(num_customers, 3)
print(f"Combinations of selecting 3 customers: {combinations_customers}")

Factorial of unique product lines: 720
Permutations of selecting 2 branches: 6
Combinations of selecting 3 customers: 166167000

In [17]:
total_transactions = 20
num_transactions_to_arrange = 5

arrangements = permutation(total_transactions, num_transactions_to_arrange)
print(f"Number of ways to arrange 5 transactions out of 20: {arrangements}")

total_product_lines = 6
num_product_lines_to_select = 3

selections = combination(total_product_lines, num_product_lines_to_select)
print(f"Number of ways to select 3 product lines out of 6: {selections}")

num_branches = len(df['Branch'].unique())
branch_factorial = factorial(num_branches)
print(f"Factorial of the total number of branches: {branch_factorial}")

Number of ways to arrange 5 transactions out of 20: 1860480
Number of ways to select 3 product lines out of 6: 20
Factorial of the total number of branches: 6

In [18]:
num_payment_types = 3
num_payment_methods_to_display = 4
num_ways = combination(num_payment_types + num_payment_methods_to_display - 1, num_payment_methods_to_display)

print(f"Number of ways to display 4 payment methods from 3 types: {num_ways}")

Number of ways to display 4 payment methods from 3 types: 15

In [19]:
total_employees = 15
num_employees_to_select = 5

num_ways = combination(total_employees, num_employees_to_select)

print(f"Number of ways to select 5 employees out of 15: {num_ways}")

Number of ways to select 5 employees out of 15: 3003

In [21]:
num_ways_with_repetition = 26 ** 6
print(f"Number of ways with repetition: {num_ways_with_repetition}")
num_ways_without_repetition = permutation(26, 6)
print(f"Number of ways without repetition: {num_ways_without_repetition}")

Number of ways with repetition: 308915776
Number of ways without repetition: 165765600